// font
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;600;700&display=swap');

// Variable
$colorsatu : #577c8f;
$colortiga : #4e4e4e;
$color     : #333333;

// Styles

//navbar
.custom-nav {
  .navbar-brand {
img{
  width: 50px;
  height: 50px;
}
}

#navbarNav{
  .navbar-nav{
      .nav-link{
        color:$colortiga;
        font-weight: 600;
        margin-left: 2em;
      }
      &:hover{
        color: $colorsatu;
      }
  }
}


@media screen and (max-width : 992px){
  margin-top: -1em;

}
@media screen and (max-width : 572px){
  margin-top: -1em;

}
}



